# Binaries
bin/
*.exe
*.dll
*.so
*.dylib

# Build/test artifacts
*.test
*.out
coverage/

# IDE
.vscode/
.idea/

# Env
.env.local
.env.*.local

# Ignore main env file
.env

# Terraform
deploy/terraform/.terraform/
deploy/terraform/.terraform.lock.hcl
*.tfstate
*.tfstate.*

devcontainer.env